
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$meu-projeto-primary: mat.define-palette(mat.$indigo-palette);
$meu-projeto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$meu-projeto-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$meu-projeto-theme: mat.define-light-theme((
  color: (
    primary: $meu-projeto-primary,
    accent: $meu-projeto-accent,
    warn: $meu-projeto-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($meu-projeto-theme);

/* You can add global styles to this file, and also import other style files */
::ng-deep .mat-paginator {
  border-radius: 12px; /* Define o raio das bordas */
  overflow: hidden;    /* Garante que o conteúdo respeite o border-radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra opcional */
}


/* Snackbar de Sucesso */
.snackbar-success {
  background-color: #4caf50 !important; /* Verde */
  color: #fff !important;
}

/* Snackbar de Erro */
.snackbar-error {
  background-color: #f44336 !important; /* Vermelho */
  color: #fff !important;
}

/* Snackbar de Aviso */
.snackbar-warning {
  background-color: #ff9800 !important; /* Laranja */
  color: #fff !important;
}

/* Snackbar de Informação */
.snackbar-info {
  background-color: #2196f3 !important; /* Azul */
  color: #fff !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
